<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{doctor.name}} | MediConnect</title>
    <link rel="stylesheet" href="/style.css">
          <link rel="icon" type="image" href="https://mediconnect-hms.netlify.app/static/media/White.025447d688ac97573f81.png">

</head>
<body>
    {{> navbar}}
      {{#if msg}}
    <div class="error-message">
        <p>{{msg}}</p>
    </div>
    {{/if}}
    <main class="doctor-detail-main">
       <section class="doctor-header">
    <img class="doctor-avatar" src="{{doctor.image}}" alt="{{doctor.name}}">
    <div class="doctor-header-info">
        <h2>{{doctor.name}}</h2>
        <div class="doctor-specialty">{{doctor.specialty}}</div>
        <div class="doctor-exp">{{doctor.experience}} yrs of experience</div>
    </div>
    <a href="/doctor/{{doctor._id}}/book" class="book-btn">Book Appointment</a>
</section>
        <section class="doctor-about">
            <h3>About</h3>
            <p>{{doctor.about}}</p>
        </section>
        <section class="doctor-specializations">
            <h3>Specializations</h3>
            <div class="specialization-chips">
                {{#each doctor.specializations}}
                  <span>{{this}}</span>
                {{/each}}
            </div>
        </section>
        <section class="doctor-reviews">
    <h3>Patient Reviews</h3>
     
    <form action="/doctor/{{doctor._id}}/review" method="POST" class="review-form">
        <label for="rating">Rating:</label>
        <select name="rating" id="rating" required>
            <option value="">Select</option>
            <option value="5">5 - Excellent</option>
            <option value="4">4 - Good</option>
            <option value="3">3 - Average</option>
            <option value="2">2 - Poor</option>
            <option value="1">1 - Terrible</option>
        </select>
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" rows="2" required></textarea>
        <button type="submit" class="submit-btn">Submit Review</button>
    </form>
    <div class="review-list">
        {{#each doctor.reviews}}
            <div class="review">
            <div class="review-user">{{this.username}} <br>
                    <span class="review-date">{{this.formattedDate}}</span>
                    </div>
            <div class="review-stars">
                {{#times this.rating}}★{{/times}}
                {{#times (subtract 5 this.rating)}}☆{{/times}}
            </div>
            <div class="review-text"><i>"{{this.comment}}"</i></div>
            </div>
        {{/each}}

    </div>
</section>

</main>
 <footer class="main-footer">
  <p>&copy; 2025 MediConnect. All rights reserved.</p>
</footer>

</body>
</html>